install/

# Local deploy / build notes (not for public repo)
build.md
*.ps1
deploy-bundle/
.cursor/

# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/prometheus-client-c
subprojects/usrsctp

webui/.next
/.vs
/tools/admin-api/.vs/
/tools/admin-api/**/obj/
/tools/admin-api/**/bin/
/tools/admin-api/src/Open5gs.AdminApi/bin
/tools/admin-api/.vs/Open5gs.AdminApi/DesignTimeBuild
/tools/admin-api/.vs/Open5gs.AdminApi/FileContentIndex
