install/

# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/prometheus-client-c
subprojects/usrsctp

webui/.next
/.vs
/tools/admin-api/src/Open5gs.AdminApi/bin
/tools/admin-api/.vs/Open5gs.AdminApi/DesignTimeBuild
/tools/admin-api/.vs/Open5gs.AdminApi/FileContentIndex
